body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 50px 20px;
    text-align: center;
    background-image: url('../assets/Backgound-sobrenos&contatos.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.aboutUsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-bottom: 40px;
}

.squareEmpty, .squareFilled {
    width: 7px;
    height: 7px;
    display: inline-block;
}

.squareEmpty {
    background-color: transparent;
    border: 1px solid #F19500;
}

.squareFilled {
    background-color: #F19500;
    border: 1px solid #F19500;
}

.line {
    width: 25px;
    height: 1px;
    background-color: #F19500;
    display: inline-block;
}

h1 {
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #F19500;
    margin: 0 5px;
    text-transform: uppercase;
}

.descriptionAboutUs {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 300;
    width: 80vw;
    margin: 150px 0;
}

@media (max-width: 1024px) {
    main {
        height: auto;
    }
    
    .descriptionAboutUs{
        font-size: 16px;
    }
}