/*----------Primeiro Bloco----------*/

.subTitle {
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight:700;
    color:  #F19500;
    position: absolute;
    width: 100%vw;
    height: 540px; 
    overflow: hidden;
    transform: translate(64px, 257px);
}

.title {
    font-family: "Chakra Petch";
    font-size: 60px;
    font-weight: bold;
    color:  #ffffff;
    position: absolute;
    width: 754px;
    height: 540px; 
    overflow: hidden;
    transform: translate(64px, 281px);
}

.description {
    font-family: "Chakra Petch";
    font-size: 16px;
    color:  #ffffff;
    position: absolute;
    height: 540px; 
    width: 511px;
    overflow: hidden;
    transform: translate(64px, 450px);
}

.aboutus {
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight:700;
    background-color:#F19500;
    color:  #000000;
    position: absolute;
    width: 140px;
    height: 44px; 
    overflow: hidden;
    transform: translate(64px, 522px);
}

.banner {
    overflow: hidden;
    display: flex;
    justify-content: center;  
    width: 100vw;
}

.banner img {
    overflow: hidden;
    width: 100vw;
    position: center;
    height: auto;
    display: block;
}

/*----------Segundo Bloco----------*/

.bannerSecondBlock {
    overflow: hidden;
    display: flex;
    justify-content: center;  
    width: 100vw;
}

.searchSecondBlock {
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight:700;
    background-color:#F19500;
    color:  #000000;
    position: absolute;
    width: 140px;
    height: 44px; 
    overflow: hidden;
    transform: translate(64px, 522px);
}

.subTitleSecondBlock {
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight:700;
    color:  #F19500;
    position: absolute;
    height: 540px; 
    overflow: hidden;

}

.descriptionSecondBlock {
    font-family: "Chakra Petch";
    font-size: 16px;
    color:  #ffffff;
    position: absolute;

    height: 540px; 
    overflow: hidden;

}

.titleSecondBlock {
    font-family: "Chakra Petch";
    font-size: 60px;
    font-weight: bold;
    color:  #000000;
    position: absolute;
    width: 500px;
    height: 540px; 
    overflow: hidden;
    text-align: right;
    transform: translate(904px, 200px);
}

.bannerSecondBlock img {
    overflow: hidden;
    width: 100vw;
    position: center;
    height: auto;
    display: block;
}
