/*----------Primeiro Bloco----------*/

.subTitulo {
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight:700;
    color:  #F19500;
    position: absolute;
    width: 100%;
    height: 540px; 
    overflow: hidden;
    transform: translate(734px, 96px);
}

.tituloPrincipal {
    font-family: "Chakra Petch";
    font-size: 60px;
    font-weight: bold;
    color:  #ffffff;
    position: absolute;
    width: 754px;
    height: 540px; 
    overflow: hidden;
    transform: translate(529px, 143px);
}


.banner {
    overflow: hidden;
    display: flex;
    justify-content: center;  

}

.banner img {
    overflow: hidden;
    width: 100vw;
    position: center;
    height: auto;
    display: block;
}

/*----------Segundo Bloco----------*/

.Pesquisar {
    font-family: "Chakra Petch";
    font-size: 14px;
    font-weight:700;
    background-color:#F19500;
    color:  #000000;
    position: absolute;
    width: 140px;
    height: 44px; 
    overflow: hidden;
    transform: translate(760px, 528px);
}
    .search-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-94%, 114px);
        width: 20%;
        display: flex;
        justify-content: center;
        
}

.search-bar input[type="text"] {
    padding: 18px;
    font-size: 23px;
    width: 974px;
    border: 1px solid #000000;
    border-radius: 15px 15px 15px 15px; 
    transform: translate(130px, 22px);
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.582);
}
