
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
/*----------Primeiro Bloco----------*/

.searchBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 600px;
    background-image: url(../assets/Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    .subTitleSearch {
        margin: 80px 0 0 0;
        font-family: "Chakra Petch";
        font-size: 14px;
        font-weight: 700;
        color: #F19500;
    }

    .titleSearch {
        margin: 15px 0 0 0;
        font-family: "Chakra Petch";
        font-size: 60px;
        font-weight: bold;
        color: #ffffff;
    }

    .search-bar {


        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        

        .searchInput {
            margin: 200px 0 0 0;
            padding: 18px;
            font-size: 23px;
            width: 974px;
            border: 1px solid #000000;
            border-radius: 15px 15px 15px 15px;
            text-align: center;
            color: #ffffff;
            background-color: #323232;
            font-family: "Chakra Petch";
        }

        .search {

            margin: 24px 0 0 0;

            font-family: "Chakra Petch";
            font-size: 14px;
            font-weight: 700;
            background-color: #F19500;
            color: #000000;
            width: 140px;
            height: 44px;

        }
    }

}
/*----------Terceiro Bloco-----------*/
.search-results {
    font-size: 18px;
    font-weight: normal;
    color: #333;
    margin-bottom: 25px;
    text-align: center; /* Alinha o texto à direita */
}

.search-results strong {
    font-weight: bold;
}


/*---------- Conteudos-------------*/
.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
}

.card-image img {
    max-width: 290px;
    border-radius: 5px;
}

.card-details {
    flex: 1;
    margin-left: 20px;
}

.card-details h2 {
    margin: 0 0 10px 0;
    font-size: 28px;
}

.card-details p {
    margin: 5px 0;
    font-size: 16px;
}

.card-action {
    margin-left: 20px;
}

.card-action .btn {
    padding: 10px 20px;
    background-color: #F5A623;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-family: "Chakra Petch";  
    font-size: 14px;  
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px;
    font-family: "Chakra Petch" ;
    font-weight: 700;
    
}

.pagination .btn {
    padding: 13px 30px;
    background-color: #4A4A4A;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius:3px;
    display: inline-block;
    
}

.pagination .btn.active {
    background-color: #F5A623;

}

.pagination .btn.previous,
.pagination .btn.next {
    background-color: #F5A623;
}

.pagination .dots {
    padding: 10px 15px;
    color: #4A4A4A;
}
